.sidebar {
  display: flex;
  padding: 10px;
  user-select: none;
  background-color: #ffadad;
  overflow-y: scroll;
}

.primary-view {
  display: flex;
  padding: 10px;
  user-select: none;
  background-color: #ffd6a5;
  overflow-y: scroll;
}

.secondary-view {
  display: flex;
  padding: 10px;
  user-select: none;
  background-color: #fdffb6;
  overflow-y: scroll;
}
