.layout {
  position: relative;
  display: grid;
  grid-template-areas: "sidebar primary-view secondary-view";
  width: 100%;
  height: 100%;
}

.resizer {
  position: absolute;
  height: 100%;
  z-index: 1000;
  cursor: col-resize;
}

.sidebar {
  grid-area: sidebar;
}

.primary-view {
  grid-area: primary-view;
}

.secondary-view {
  grid-area: secondary-view;
}

